*{
    padding: 0;
    margin: 0;
    font-family: 'Poppons', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/img/bg.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}
nav img{
    color: red;
    width: 133px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 21px;
    padding: 0 30px;
}
.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center; 
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center; 
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center; 
}
.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
}
.btn{
    padding: 3px 8px;
    background-color: white;
    font-weight: 400;
    background-color: rgb(23, 23, 23, 0.4);
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238,0.5);
    
}
.btn-red-sm{
    background-color: red;
    color: white;
    
    
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 5px;
}
.first{
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 37vw;
    position: relative;
    z-index: 2;
}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
}

section.first > div{
    display: flex;
    flex-direction: column;
    
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 19px;
    
}
.faq h2{
    text-align: center;
    font-size: 48px;
    padding-top: 70px;
    padding-bottom: 20px;
    
}
.faq{
    background: black;
    color: white;
    font-size: 24px;
}
.faqbox:hover {
    background-color: #414141;
}
.faqbox{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 10px;
    max-width: 80vw;
    margin: 7px auto;
    cursor: pointer;

}
footer{
    color: white;
    max-width: 70vw;
    margin: auto;
}
footer .questions{
    padding: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    color: white;
    max-width: 70vw;
    margin: auto; 
}
.footer a{
    color: white;
    font-size: 14px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
